.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-body {
  padding-top: 15px;
}

.App-table {
  float: left;
  padding-left: 10px;
  text-align: center;
  width: 20;
}

.App-table-tr:nth-of-type(odd) {
  background-color: #ccc;
}

.App-datepick {
  float: center;
  width: 80;
}
